<div class="banner">
  <img src="../../../assets/abstract-technological-hexagonal-background-3d-re-2023-11-27-05-34-57-utc.jpg" alt="Immagine del banner">
  <div class="overlay"></div>
  <div class="content">
    <h1>Il tuo Titolo</h1>
    <p>Il tuo Sottotitolo</p>
  </div>
</div>

<div class="container mt-5 mb-5">
  <!-- Seconda sezione con card -->
  <div class="row mt-4">
    <!-- Card principale -->
    <div class="col-md-6">
      <div class="card h-100">
        <img src="path-to-main-image.jpg" class="card-img-top" alt="Immagine principale">
      </div>
    </div>


    <div class="col-md-2">
        <h5>Titolo Principale</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
    </div>

    <!-- Tre card affiancate -->
    <div class="col-md-4">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>


      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-4">
  <!-- Terza sezione con card -->
  <div class="row mt-4">
  <!-- Tre card affiancate -->
    <div class="col-md-3">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

        <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

    </div>

    <!--Secondo blocco-->

    <div class="col-md-3">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

        <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
    </div>

    <!--Terzo blocco-->

    <div class="col-md-3">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

        <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

      
    </div>

    <!--Quarto blocco-->
    <div class="col-md-3">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

        <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<!--Quinto blocco-->

<div class="container mt-4">
  <!-- Terza sezione con card -->
  <div class="row mt-4">
  <!-- Tre card affiancate -->
    <div class="col-md-3">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>

        <div class="row mb-4">
        <div class="col-md-6">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
</div>

 <!--Secondo blocco-->

 <div class="col-md-3">

  <div class="row mb-4">
    <div class="col-md-6">
      <div class="card h-100">
        <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
      </div>
    </div>

    <div class="col-md-6">
      <h5>Titolo 1</h5>
      <p class="mb-0">Descrizione o contenuto di lato.</p>
    </div>
  </div>

    <div class="row mb-4">
    <div class="col-md-6">
      <div class="card h-100">
        <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
      </div>
    </div>

    <div class="col-md-6">
      <h5>Titolo 2</h5>
      <p class="mb-0">Descrizione o contenuto di lato.</p>
    </div>
  </div>
</div>

  <!--Terzo blocco-->

  <div class="col-md-3">

    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card h-100">
          <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
        </div>
      </div>

      <div class="col-md-6">
        <h5>Titolo 1</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
      </div>
    </div>

      <div class="row mb-4">
      <div class="col-md-6">
        <div class="card h-100">
          <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
        </div>
      </div>

      <div class="col-md-6">
        <h5>Titolo 2</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
      </div>
    </div>
  </div>

  <!--Quarto blocco-->
  <div class="col-md-3">

    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card h-100">
          <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
        </div>
      </div>

      <div class="col-md-6">
        <h5>Titolo 1</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
      </div>
    </div>

      <div class="row mb-4">
      <div class="col-md-6">
        <div class="card h-100">
          <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
        </div>
      </div>

      <div class="col-md-6">
        <h5>Titolo 2</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
      </div>
    </div>
  </div>



<div class="container mt-5">
  <h2>Primo piano</h2>
  <hr>
  <!-- Seconda sezione con sfondo blu -->
  <div class="blue-background">
    <!-- Container delle card -->
    <div class="card-container" #cardContainer>
      <!-- Frecce di navigazione -->
      <div class="nav-arrow left" (click)="scrollCards('left')">&#8592;</div>
      <div class="nav-arrow right" (click)="scrollCards('right')">&#8594;</div>
      
      <!-- Container interno per le card -->
      <div class="card-inner-container">
        <!-- Card -->
        <div class="card d-inline-block m-2" style="width: 18rem;" *ngFor="let card of cards">
          <img [src]="card.imageUrl" class="card-img-top" [alt]="card.alt">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
            <p class="card-text2">{{ card.description }}</p>
            <p class="card-text2">{{ card.description }}</p>
            <p class="card-text2">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!--
<div class="container mt-4">

  <div class="row mt-4">

    <div class="col-md-6">
      <div class="card h-100">
        <img src="path-to-main-image.jpg" class="card-img-top" alt="Immagine principale">
      </div>
    </div>


    <div class="col-md-2">
        <h5>Titolo Principale</h5>
        <p class="mb-0">Descrizione o contenuto di lato.</p>
    </div>


    <div class="col-md-4">

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="path-to-image-1.jpg" class="card-img-top" alt="Immagine 1">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 1</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>


      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="path-to-image-2.jpg" class="card-img-top" alt="Immagine 2">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 2</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="path-to-image-3.jpg" class="card-img-top" alt="Immagine 3">
          </div>
        </div>

        <div class="col-md-6">
          <h5>Titolo 3</h5>
          <p class="mb-0">Descrizione o contenuto di lato.</p>
        </div>
      </div>
    </div>
  </div>
</div>
-->
